# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Django
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# Media Uploads
media/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db